:root {
  --my-10: 10rem;
  --my-5: 5rem;
  --my-3: 3rem;
  --my-1: 1rem;

  --mx-3: 3rem;
  --mx-1: 1rem;

  --px-7: 7rem;
  --px-4: 4rem;
  --px-2: 2rem;
  --px-1: 1rem;

  --p-2: 2rem;
  --p-1: 1rem;

  --text-bg-1: 3rem;
  --text-bg-2: 2.5rem;
  --text-bg-3: 2rem;
  --text-md-1: 1.6rem;
  --text-md-2: 1.4rem;
  --text-md-3: 1.2rem;
  --text-sm-1: 1rem;
  --text-sm-2: .8rem;

  --color-orange: orange;
  --color-tomato: tomato;
  --color-gold: gold;
  --color-cyan: cyan;
  --color-navy: navy;

}


* {
  margin:0;
  padding:0;
  box-sizing: inherit;
  text-decoration: none;
  color: black;
}
/* media query
1800, 1200 900 600
*/
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: var(--text-bg-1);
  font-weight: 400;
  letter-spacing: .1rem;
  line-height: 1.2;
}


.container {
  display: flex;
  flex-direction: column;
  margin: var(--my-10) 0;
  padding: 0 var(--px-7);
}

/* header */
.header {
  display: flex;
 
}

.header__img {
  border-radius: 50%;
  margin-right: var(--mx-3);
  width: 20rem;
}

.header__content {
  align-self: center;
}
.header__name {
  margin: var(--my-1) 0;
}

.header__position {
  color: var(--color-tomato);

 
}

/* Industry Equvalency */
.industry__header {
  background: var(--color-navy);
  color: white;
  padding: var(--p-1);
  margin-top: var(--my-5);
  display: flex;
  justify-content: space-between;
}
.industry__month {
  font-size: var(--text-bg-3);
  color: white;
}
.industry__exp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin:0 -1rem;


}
.industry__skill {
  font-size: var(--text-bg-3);
  position: relative;
  width: 19%; 
}

.industry__duration {
  position: absolute;
  font-weight: bold;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.industry__title {
  text-align: center;
  font-weight: bold;
  margin-top: -2rem;
}

/* About */
.about {
  margin-top: var(--my-5);
}


.about hr {
  border:none;
  border-top: .5px solid #ccc;
  margin-top: .5rem;
}

.about__content {
  margin-top: var(--my-3);
  font-size: var(--text-bg-3);
}

/* education and certification */
.edu__header {
  background: var(--color-orange);
color: white;
padding: var(--p-1);

margin-top: var(--my-5);
display: flex;
justify-content: space-between;

}


.edu__item {
  margin: var(--my-3) 0;
  font-size: var(--text-bg-3);
  display: flex;
  align-items: center;
}

.edu__logo {
  display: inline-block;
  width: 15rem;
  margin-right: var(--mx-3);
}

.edu__content {
  display: flex;
  flex-direction: column;
}

.edu__degree {
  font-weight: 700;
}

.edu__school {
 position:relative;
}

.edu__school-icon {
 width: 2.4rem;
display: inline-block;
position: absolute;
top: 0;
left: 0;
}
.edu__school-name {
display: inline-block;
padding-left: 3rem;
 }


.edu__extra a:hover {

  color: blue;
  cursor: pointer;
}

.edu__line {
  border: none;
  border-top: 1px solid #ccc;
  
}

/* skill matrix */

.skill-matrix__header {
  background: var(--color-tomato);
  color: white;
  padding: 1rem;
 
  display: flex;
  justify-content: space-between;
  margin-top: var(--my-5);
}

.skill-matrix__header span {
  color: white;
  font-size: var(--text-md-1);
}

.skill-matrix__chart {
  display: inline-block;
  width: 33%;
  text-align: center;
}

.skill-matrix__title {
  margin-top: var(--my-3);
  font-weight: 700;

}

.skill-matrix__skill {
  display: block;
  text-align: left;
  margin-left: 15%;
}

#skill-matrix__circle {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: .5rem;
}

.skill-matrix__name {
  font-weight: bold;
 font-size: var(--text-bg-3);
}

.skill-matrix__duration {
  font-size: var(--text-bg-3);
}

.project {
  position: relative;
}
.projects__header{
  background: var(--color-gold);
  color: rgba(0,0,0,0.6);
  padding: 1rem;
  font-weight: 700;
  margin-top: var(--my-5);

}

.project__title {
  margin-top: var(--my-3);
  font-weight: 700;
}
.project__logo {
  display: inline-block;
  width: var(--text-bg-1);
  height: var(--text-bg-1);
  position: absolute;
  right: 3rem;

}
.project__logo img {
  width: 100%;
}

.project__logo-2 {
  display: inline-block;
  width: var(--text-bg-1);
  height: var(--text-bg-1);
  position: absolute;
  right: 6rem;
}
.project__logo-2 img {
  width: 100%;
 
}

.project__line {
  border:none;
  border-bottom: 1px solid #ccc;
 
}

.project__content {
  margin-top: var(--my-1);
  font-size: var(--text-bg-3);
}

.project__resp-title, .project__tech-title {
  margin-top: var(--my-1);
  font-size: var(--text-bg-3);
}

.project__resp-content, .project__tech-item{
  margin-top: var(--my-1);
  font-size: var(--text-bg-3);
}

.project__resp-content span, .project__tech-item span{
  width: .8rem;
  height: .8rem;

  margin: .4rem;
  display: inline-block;
  background-color: black;
  border-radius: 50%;
}


@media (max-width: 1800px){

  
  .skill-matrix__name {
    font-weight: bold;
   font-size: var(--text-md-1);
  }
  
  .skill-matrix__duration {
    font-size: var(--text-md-1);
  }

}

@media (max-width: 1200px){
  body{
    font-size: var(--text-bg-3);
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: var(--my-5) 0;
    padding: 0 var(--px-4);
  }
  .header__img {
    border-radius: 50%;
    margin-right: var(--mx-3);
    width: 15rem;
  }
  .industry__month {
    font-size: var(--text-md-2);
    color: white;
  }
  .skill-matrix__header span {
  color: white;
  font-size: var(--text-md-2);
}


  .skill-matrix__chart {
    width: 50%;
  }

  .skill-matrix__skill {
    display: block;
    text-align: left;
    margin-left: 25%;
  }


  .project__logo {

    width: var(--text-bg-3);
    height: var(--text-bg-3);
    position: absolute;
    right: 2rem;

  
  }

  .project__logo-2 {

    width: var(--text-bg-3);
    height: var(--text-bg-3);
    position: absolute;
    right: 4rem;

  
  }
  
.project__content {
  margin-top: var(--my-1);
  font-size: var(--text-md-1);
}

.project__resp-title, .project__tech-title {
  margin-top: var(--my-1);
  font-size: var(--text-md-1);
}

.project__resp-content, .project__tech-item{
  margin-top: var(--my-1);
  font-size: var(--text-md-1);
}

}


@media (max-width: 900px){
  body{
    font-size: var(--text-md-1);
  }
  .container {
    display: flex;
    flex-direction: column;
    margin: var(--my-5) 0;
    padding: 0 var(--px-2);
  }
  .header__img {
    border-radius: 50%;
    margin-right: var(--mx-3);
    width: 10rem;
  }

  .industry__month {
    font-size: var(--text-md-2);
    color: white;
  }
  .industry__skill {
    font-size: var(--text-md-2);
  }
  .industry__title {
    margin-top: -1rem;
  }

  .about__content {
    margin-top: var(--my-3);
    font-size: var(--text-md-2);
  }

  .edu__logo {
    display: inline-block;
    width: 8rem;
    margin-right: var(--mx-3);
  }
  .edu__content {
    font-size: var(--text-md-3);
  }
  
  .skill-matrix__skill {
    display: block;
    text-align: left;
    margin-left: 15%;
  }

  .skill-matrix__name {
    font-weight: bold;
   font-size: var(--text-md-3);
  }
  
  .skill-matrix__duration {
    font-size: var(--text-md-3);
  }
  .project__logo {
    width: var(--text-md-1);
    height: var(--text-md-1);
    right: 1rem;
  }
  .project__logo-2 {
    width: var(--text-md-1);
    height: var(--text-md-1);
    right: 3rem;
  }
  
  
  .project__content {
    margin-top: var(--my-1);
    font-size: var(--text-md-3);
  }
  
  .project__resp-title, .project__tech-title {
    margin-top: var(--my-1);
    font-size: var(--text-md-3);
  }
  
  .project__resp-content, .project__tech-item{
    margin-top: var(--my-1);
    font-size: var(--text-md-3);
  }

}


@media (max-width: 600px){
  body{
    font-size: var(--text-sm-1);
  }
  .container {
    display: flex;
    flex-direction: column;
    margin: var(--my-5) 0;
    padding: 0 var(--px-1);
  }

  .header__img {
    border-radius: 50%;
    margin-right: var(--mx-1);
    width: 7rem;
  }

  .header__content {
    font-size: var(--text-sm-1);
  }

  .industry__month {
    font-size: var(--text-sm-2);
    color: white;
  }
  
  .industry__title {

    font-size: var(--text-sm-2);
    text-align: center;
    font-weight: bold;
    margin-top: -.5rem;
  }

  .about {
    margin-top: var(--my-3);
  }


  .about__content {
    margin-top: var(--my-1);
    font-size: var(--text-sm-1);
  
  }

  .edu__header {

  margin-top: var(--my-3);
  display: flex;
  justify-content: space-between;
  
  }
  .edu__logo {
    /* width: 1rem; */
   display:none;
  }
  
  .edu__item {
    margin-top: var(--my-1);
    display: block;
    
  }
.edu__line {
  margin-top: -2rem;
}

  .edu__content {
    font-size: var(--text-sm-1);
  }

  .edu__school-icon {
    width: var(--text-sm-1);
   display: inline-block;

   }
   .edu__school-name {
    padding-left: var(--px-1);
     }

    .skill-matrix__header {
      margin-top: var(--my-3);
    }
    .skill-matrix__header span {
      color: white;
      font-size: var(--text-sm-2);
    }
    

  .skill-matrix__chart {
    display: inline-block;
    width: 100%;
  }

  .skill-matrix__title {
    font-size: var(--text-md-3);
    margin-top: var(--my-1);
    font-weight: 700;
  
  }
  .skill-matrix__contents {
    margin-top: -2rem;
    margin-bottom: 2rem;
  }
  .skill-matrix__skill {

    display: block;
    text-align: left;
    margin-left: 30%;
  }

  #skill-matrix__circle {
    width: .8rem;
    height: .8rem;
    margin-right: .2rem;
  
  }
  
  .skill-matrix__name {
    font-weight: bold;
   font-size: var(--text-sm-1);
  }
  
  .skill-matrix__duration {
    font-size: var(--text-sm-1);
  
  }

  .project__logo {
    width: var(--text-md-3);
    height: var(--text-md-3);
 
  }

  .project__logo-2 {
    width: var(--text-md-3);
    height: var(--text-md-3);

  }

  .project__content {
    margin-top: 1rem;
    font-size: var(--text-sm-1);
  }
  .project__resp-title, .project__tech-title {
    margin-top: var(--my-1);
    font-size: var(--text-sm-1);
  }
  
  .project__resp-content, .project__tech-item{
    margin-top: var(--my-1);
    font-size: var(--text-sm-1);
  }

}
